# Russian Invasion of Ukraine in 2022 

## Performing Exploratory Data Analysis on the ongoing invasion of Ukraine by Russia. 
## Covering Equipment Losses & Death Toll & Military Wounded & Prisoner of War of Russians in 2022.

![](https://user-images.githubusercontent.com/87764103/159445414-43c96e1f-08da-4358-af64-4245de91ccfd.jpeg)
 *img source: img source: https://twitter.com/MarcHorat

# Covering

* Equipment Losses
* Death Toll
* Military Wounded.
* Prisoner of War of Russian.

# Dataset

* Main data sources are Armed Forces of Ukraine and Ministry of Defence of Ukraine.
* They gathered data from different points of the country.
* The calculation is complicated by the high intensity of hostilities.

# Sources

* **invaders** - All Russians Prisoner of War (POW).
* **oryxspioenkop** - Ukraine and Russia Equipment Losses. This list only includes destroyed vehicles and equipment of which photo or videographic evidence is available. Therefore, the amount of equipment destroyed is significantly higher than recorded here.

* **liveuamap** - Live Interactive Map with events that happened.

* **Correctiv** - Live monitoring of all sanctions against Russia.

* **Reuters** - Tracking sanctions against Russia.


# Data Dictionary
 
 
**Tracking**

* Personnel
* Prisoner of War
* Armored Personnel Carrier
* Multiple Rocket Launcher
* Aircraft
* Anti-aircraft warfare
* Drone
* Field Artillery
* Fuel Tank
* Helicopter
* Military Auto
* Naval Ship
* Tank


**Acronyms**

* POW - Prisoner of War,
* MRL - Multiple Rocket Launcher,
* BUK - Buk Missile System,
* APC - Armored Personnel Carrier,
* drone: UAV - Unmanned Aerial Vehicle, RPA - Remotely Piloted Vehicle.


# Note:

* Each new record is accumulated data from previous days.
* Important. Data will be updated daily
* Notebook & Dataset last updated: 2022/03/22

In [1]:
# Import libraries

# Standard
import os
import datetime
import random
import io
from math import sqrt
import pandas as pd 
import numpy as np

# Plots
import matplotlib as plt
%matplotlib inline
import seaborn as sns
import plotly
import plotly.graph_objs as go
import plotly.express as px
from plotly.subplots import make_subplots
from plotly.subplots import make_subplots

In [2]:
# Import data

df_pers_rus_loss = pd.read_csv("../input/2022-ukraine-russian-war/russia_losses_personnel.csv")
df_equip_rus_loss = pd.read_csv("../input/2022-ukraine-russian-war/russia_losses_equipment.csv")

In [3]:
# Checking Personnel Losses

df_pers_rus_loss.head(20)

          date  day  personnel personnel*  POW
0   2022-02-25    2       2800      about    0
1   2022-02-26    3       4300      about    0
2   2022-02-27    4       4500      about    0
3   2022-02-28    5       5300      about    0
4   2022-03-01    6       5710      about  200
5   2022-03-02    7       5840      about  200
6   2022-03-03    8       9000      about  200
7   2022-03-04    9       9166      about  200
8   2022-03-05   10      10000      about  216
9   2022-03-06   11      11000      about  232
10  2022-03-07   12      11000       more  259
11  2022-03-08   13      12000      about  284
12  2022-03-09   14      12000      about  360
13  2022-03-10   15      12000       more  371
14  2022-03-11   16      12000       more  389
15  2022-03-12   17      12000       more  389
16  2022-03-13   18      12000       more  389
17  2022-03-14   19      12000       more  389
18  2022-03-15   20      13500      about  389
19  2022-03-16   21      13800      about  389

In [4]:
# Checking Equipment Losses 

df_equip_rus_loss.head(20)

,date,day,aircraft,helicopter,tank,APC,field artillery,MRL,military auto,fuel tank,drone,naval ship,anti-aircraft warfare,special equipment
0,2022-02-25,2,10,7,80,516,49,4,100,60,0,2,0,NaN
1,2022-02-26,3,27,26,146,706,49,4,130,60,2,2,0,NaN
2,2022-02-27,4,27,26,150,706,50,4,130,60,2,2,0,NaN
3,2022-02-28,5,29,29,150,816,74,21,291,60,3,2,5,NaN
4,2022-03-01,6,29,29,198,846,77,24,305,60,3,2,7,NaN
5,2022-03-02,7,30,31,211,862,85,40,355,60,3,2,9,NaN
6,2022-03-03,8,30,31,217,900,90,42,374,60,3,2,11,NaN
7,2022-03-04,9,33,37,251,939,105,50,404,60,3,2,18,NaN
8,2022-03-05,10,39,40,269,945,105,50,409,60,3,2,19,NaN
9,2022-03-06,11,44,48,285,985,109,50,447,60,4,2,21,NaN
10,2022-03-07,12,46,68,290,999,117,50,454,60,7,3,23,NaN
11,2022-03-08,13,48,80,303,1036,120,56,474,60,7,3,27,NaN
12,2022-03-09,14,49,81,317,1070,120,56,482,60,7,3,28,NaN
13,2022-03-10,15,49,81,335,1105,123,56,526,60,7,3,29,NaN
14,2022-03-11,16,57,83,353,1165,125,58,558,60,7,3,31,NaN
15,2022-03-12,17,58,83,362,1205,135,62,585,60,7,3,33,NaN
16,2022-03-13,18,74,86,374,1226,140,62,600,60,7,3,34,NaN
17,2022-03-14,19,77,90,389,1249,150,64,617,60,8,3,34,NaN
18,2022-03-15,20,81,95,404,1279,150,64,640,60,9,3,36,NaN
19,2022-03-16,21,84,108,430,1375,190,70,819,60,11,3,43,10.0

In [5]:
# More details 

print("Shape of df_pers_rus_loss: ", df_pers_rus_loss.shape)
print("Length of df_pers_russ_loss: ", len(df_pers_rus_loss))
print("\nShape of df_equip_rus_loss: ", df_equip_rus_loss.shape)
print("Length of df_equip_rus_loss: ", len(df_equip_rus_loss))

Shape of df_pers_rus_loss:  (26, 5)
Length of df_pers_russ_loss:  26

Shape of df_equip_rus_loss:  (26, 14)
Length of df_equip_rus_loss:  26